# Ignore everything
*

# Don't ignore these folders
!dunst/**
!flameshot/**
!grub/**
!gtk-3.0/**
!gtk-4.0/**
!i3/**
!kitty/**
!polybar/**
!rofi/**
!sddm/**

# Also track README.md and .gitignore itself
!README.md
!.gitignore
